div{
    width: 400px;
    background-color: bisque;
    margin: 20px auto;
    padding: 10px;
}
.element-1{
    border-left: 5px green solid;
    outline: bisque 10px solid;

}
.element-2{
    visibility: hidden;
}
.element-3{
    border-left: red 5px solid;
    outline: solid 10px bisque;
}